Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.0
boto3==1.28.85
django-storages==1.14.2
# psycopg2-binary==2.9.9 # Installé automatiquement dans Docker, commenté ici pour le développement local sous Windows (Python 3.14+)
python-dotenv==1.0.0
# pydub==0.25.1 # Non utilisé dans le code
# numpy==1.26.2 # Non utilisé dans le code
# scipy==1.11.3 # Non utilisé dans le code
pillow>=10.3.0
dj-database-url==2.1.0
django-ratelimit==4.1.0
twilio==8.10.2
celery==5.3.6
redis==5.0.1
django-celery-results==2.5.1
drf-yasg==1.21.15
requests==2.31.0
gunicorn==20.1.0
whitenoise==6.4.0
